In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('practise2').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/16 21:50:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/11/16 21:50:07 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [13]:
df = spark.read.csv('practice_dataset.csv', header=True, inferSchema=True)

In [17]:
df
df.describe().show()

+-------+-----+----------------+------------------+------------------+
|summary| Name|             Age|        Experience|            Salary|
+-------+-----+----------------+------------------+------------------+
|  count|    7|               8|                 7|                 8|
|   mean| null|            33.0| 5.428571428571429|           32375.0|
| stddev| null|9.16515138991168|3.8234863173611093|26885.670639102267|
|    min|Harsh|              19|                 1|              1000|
|    max|Sunny|              45|                10|             90000|
+-------+-----+----------------+------------------+------------------+

In [14]:
df.show(5)

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Irish| 31|        10| 30000|
|Sudhansu| 30|         8| 20000|
|   Sunny| 24|         4| 30000|
|    Paul| 36|         3| 40000|
|   Harsh| 19|         1| 10000|
+--------+---+----------+------+
only showing top 5 rows

In [24]:
# Adding column
df = df.withColumn('ExperiencePlusTwo', df['Experience']+2)
df.show()

+--------+----+----------+------+-----------------+
|    Name| Age|Experience|Salary|ExperiencePlusTwo|
+--------+----+----------+------+-----------------+
|   Irish|  31|        10| 30000|               12|
|Sudhansu|  30|         8| 20000|               10|
|   Sunny|  24|         4| 30000|                6|
|    Paul|  36|         3| 40000|                5|
|   Harsh|  19|         1| 10000|                3|
|  Subham|  45|         2| 90000|                4|
|  Mahesh|null|      null|  1000|             null|
|    null|  34|        10| 38000|               12|
|    null|  45|      null|  null|             null|
+--------+----+----------+------+-----------------+