In [1]:
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark import SparkContext
import pyspark.sql.functions as F
import pyspark.sql.types as  T

In [14]:
# dir(T)
# dir(F)

In [2]:
spark = SparkSession.builder.appName('practice1').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/27 21:06:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [5]:
df_spark = spark.read.csv('marketing_campaign.csv',header=True, inferSchema=True)

In [45]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [18]:
# Since the first header is not correct we will not use the first row as header as of now
df_spark = spark.read.csv('marketing_campaign.csv', inferSchema=True)

In [19]:
df_spark.show(5)

+--------------------+
|                 _c0|
+--------------------+
|ID\tYear_Birth\tE...|
|5524\t1957\tGradu...|
|2174\t1954\tGradu...|
|4141\t1965\tGradu...|
|6182\t1984\tGradu...|
+--------------------+
only showing top 5 rows

In [7]:
df_spark.printSchema()

df_spark.dtypes

root
 |-- ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse: string (nullable = true)

[('ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse',
  'string')]

In [ ]:
# Splitting the data to change our dataset
chnged_data = []
for row in df_spark.rdd.collect():
    data = str(row._c0)
    splittedData = data.split('\t')
    chnged_data.append(splittedData)
    # print(row._c0)
    # print(type(row))

In [ ]:
# print(chnged_data)
colSplit = chnged_data[0]
chnged_data = chnged_data[1:]
print(colSplit)

In [40]:
changedData = spark.createDataFrame(chnged_data, colSplit)

In [42]:
changedData.show(2)

+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single| 58138|      0|       0| 04-09-2012|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|Graduation|        Single| 46344|      1|       1| 08-03-2014|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 2 rows

In [8]:
# Another way to splait the columns
df_spark.columns

col = df_spark.columns[0]
splittedCols = col.split('\t')

In [46]:
type(changedData)

pyspark.sql.dataframe.DataFrame

In [43]:
df_spark = changedData

In [44]:
type(df_spark.columns)

list

In [47]:
df_spark.show(5)

+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single| 58138|      0|       0| 04-09-2012|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|Graduation|        Single| 46344|      1|       1| 08-03-2014|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4141|      1965|Graduation|      Together| 71613|      0|       0| 21-08-2013|     26|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6182|      1984|Graduation|      Together| 26646|      1|       0| 10-02-2014|     26|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|5324|      1981|       PhD|       Married| 58293|      1|       0| 19-01-2014|     94|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 5 rows

In [48]:
df_spark.select(['ID', 'Year_Birth'])

DataFrame[ID: string, Year_Birth: string]

In [49]:
df_spark.describe()
df_spark.describe().show()

+-------+-----------------+------------------+---------+--------------+------------------+-------------------+------------------+-----------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+-------------------+------------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------+---------+-------------------+
|summary|               ID|        Year_Birth|Education|Marital_Status|            Income|            Kidhome|          Teenhome|Dt_Customer|          Recency|          MntWines|         MntFruits|   MntMeatProducts|  MntFishProducts| MntSweetProducts|     MntGoldProds|NumDealsPurchases|  NumWebPurchases|NumCatalogPurchases| NumStorePurchases|NumWebVisitsMonth|       AcceptedCmp3|       AcceptedCmp4|       AcceptedCmp5|       AcceptedCmp1|        AcceptedCmp2|           Complain|Z_CostContact|Z_Revenue|           Response|
+-------+-----------------+------------------+---------+--------------+------------------+-------------------+------------------+-----------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+-------------------+------------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------+---------+-------------------+
|  count|             2240|              2240|     2240|          2240|              2240|               2240|              2240|       2240|             2240|              2240|              2240|              2240|             2240|             2240|             2240|             2240|             2240|               2240|              2240|             2240|               2240|               2240|               2240|               2240|                2240|               2240|         2240|     2240|               2240|
|   mean|5592.159821428571|1968.8058035714287|     null|          null| 52247.25135379061|0.44419642857142855|           0.50625|       null|        49.109375| 303.9357142857143|26.302232142857143|            166.95|37.52544642857143|27.06294642857143|        44.021875|            2.325|4.084821428571429| 2.6620535714285714| 5.790178571428571|5.316517857142857|0.07276785714285715|0.07455357142857143|0.07276785714285715|0.06428571428571428|0.013392857142857142|           0.009375|          3.0|     11.0|0.14910714285714285|
| stddev| 3246.66219756434|11.984069456885818|     null|          null|25173.076660901403| 0.5383980977345935|0.5445382307698758|       null|28.96245280837821|336.59739260537174|39.773433764578556|225.71537251175357|54.62897940287808|41.28049848785493|52.16743891499733|1.932237500855979|2.778714147388102|  2.923100655539746|3.2509581456744328|2.426645009547286|0.25981306992189507| 0.2627282848535613|0.25981306992189507|0.24531597433401417| 0.11497560625548411|0.09639116794449754|          0.0|      0.0| 0.3562735864084793|
|    min|                0|              1893| 2n Cycle|        Absurd|                  |                  0|                 0| 01-01-2013|                0|                 0|                 0|                 0|                0|                0|                0|                0|                0|                  0|                 0|                0|                  0|                  0|                  0|                  0|                   0|                  0|            3|       11|                  0|
|    max|             9999|              1996|      PhD|          YOLO|             98777|                  2|                 2| 31-12-2013|               99|               997|                99|                99|               99|               99|               99|                9|                9|                  9|                 9|                9|                  1|                  1|                  1|                  1|                   1|                  1|            3|       11|                  1|
+-------+-----------------+------------------+---------+--------------+------------------+-------------------+------------------+-----------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+-------------------+------------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------+---------+-------------------+

In [50]:
# Adding new column
df_spark = df_spark.withColumn('Year_Birth after 2 year', df_spark['Year_Birth']+2)

In [52]:
# Dropping a column
df_spark = df_spark.drop('Year_Birth after 2 years')

In [ ]:
# Renaming a column
df_spark = df_spark.withColumnRenamed('Name', 'New Name')

In [7]:
countriesDf = spark.read.csv('../Data Sets/Country GDP/countries of the world.csv', header=True)

In [8]:
countriesDf.show(5)

+---------------+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
|        Country|              Region|Population|Area (sq. mi.)|Pop. Density (per sq. mi.)|Coastline (coast/area ratio)|Net migration|Infant mortality (per 1000 births)|GDP ($ per capita)|Literacy (%)|Phones (per 1000)|Arable (%)|Crops (%)|Other (%)|Climate|Birthrate|Deathrate|Agriculture|Industry|Service|
+---------------+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
|   Afghanistan |ASIA (EX. NEAR EA...|  31056997|        647500|                      48,0|                        0,00|        23,06|                            163,07|               700|        36,0|              3,2|     12,13|     0,22|    87,65|      1|     46,6|    20,34|       0,38|    0,24|   0,38|
|       Albania |EASTERN EUROPE   ...|   3581655|         28748|                     124,6|                        1,26|        -4,93|                             21,52|              4500|        86,5|             71,2|     21,09|     4,42|    74,49|      3|    15,11|     5,22|      0,232|   0,188|  0,579|
|       Algeria |NORTHERN AFRICA  ...|  32930091|       2381740|                      13,8|                        0,04|        -0,39|                                31|              6000|        70,0|             78,1|      3,22|     0,25|    96,53|      1|    17,14|     4,61|      0,101|     0,6|  0,298|
|American Samoa |OCEANIA          ...|     57794|           199|                     290,4|                       58,29|       -20,71|                              9,27|              8000|        97,0|            259,5|        10|       15|       75|      2|    22,46|     3,27|       null|    null|   null|
|       Andorra |WESTERN EUROPE   ...|     71201|           468|                     152,1|                        0,00|          6,6|                              4,05|             19000|       100,0|            497,2|      2,22|        0|    97,78|      3|     8,71|     6,25|       null|    null|   null|
+---------------+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
only showing top 5 rows

In [9]:
countriesDf.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Population: string (nullable = true)
 |-- Area (sq. mi.): string (nullable = true)
 |-- Pop. Density (per sq. mi.): string (nullable = true)
 |-- Coastline (coast/area ratio): string (nullable = true)
 |-- Net migration: string (nullable = true)
 |-- Infant mortality (per 1000 births): string (nullable = true)
 |-- GDP ($ per capita): string (nullable = true)
 |-- Literacy (%): string (nullable = true)
 |-- Phones (per 1000): string (nullable = true)
 |-- Arable (%): string (nullable = true)
 |-- Crops (%): string (nullable = true)
 |-- Other (%): string (nullable = true)
 |-- Climate: string (nullable = true)
 |-- Birthrate: string (nullable = true)
 |-- Deathrate: string (nullable = true)
 |-- Agriculture: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Service: string (nullable = true)

In [11]:
countriesDf.describe

<bound method DataFrame.describe of DataFrame[Country: string, Region: string, Population: string, Area (sq. mi.): string, Pop. Density (per sq. mi.): string, Coastline (coast/area ratio): string, Net migration: string, Infant mortality (per 1000 births): string, GDP ($ per capita): string, Literacy (%): string, Phones (per 1000): string, Arable (%): string, Crops (%): string, Other (%): string, Climate: string, Birthrate: string, Deathrate: string, Agriculture: string, Industry: string, Service: string]>