In [9]:
import pandas as pd
import requests
import json

In [11]:
url = 'https://www.alphavantage.co/query'

apiKey = 'AD5AW3LKSXM1EDB3'
querystring = {
    'apikey' : apiKey,
    'function' : 'TIME_SERIES_INTRADAY',
    'symbol' : 'IBM',
    'interval' : '5min'
}

response = requests.request("GET", url, params=querystring)
data = response.json()

In [15]:
df = pd.json_normalize(data)
df.head()

,Meta Data.1. Information,Meta Data.2. Symbol,Meta Data.3. Last Refreshed,Meta Data.4. Interval,Meta Data.5. Output Size,Meta Data.6. Time Zone,Time Series (5min).2022-11-21 18:25:00.1. open,Time Series (5min).2022-11-21 18:25:00.2. high,Time Series (5min).2022-11-21 18:25:00.3. low,Time Series (5min).2022-11-21 18:25:00.4. close,...,Time Series (5min).2022-11-18 17:30:00.1. open,Time Series (5min).2022-11-18 17:30:00.2. high,Time Series (5min).2022-11-18 17:30:00.3. low,Time Series (5min).2022-11-18 17:30:00.4. close,Time Series (5min).2022-11-18 17:30:00.5. volume,Time Series (5min).2022-11-18 17:10:00.1. open,Time Series (5min).2022-11-18 17:10:00.2. high,Time Series (5min).2022-11-18 17:10:00.3. low,Time Series (5min).2022-11-18 17:10:00.4. close,Time Series (5min).2022-11-18 17:10:00.5. volume
0,"Intraday (5min) open, high, low, close prices ...",IBM,2022-11-21 18:25:00,5min,Compact,US/Eastern,146.6000,146.6000,146.6000,146.6000,...,147.7000,147.7000,147.7000,147.7000,270,147.6001,147.6001,147.6001,147.6001,101

In [19]:
cols = df.columns
sCols = []

for i in range(6):
    temp = cols[i].split('.')
    reqd = temp[-1]
    sCols.append(reqd)

In [20]:
print(sCols)

[' Information', ' Symbol', ' Last Refreshed', ' Interval', ' Output Size', ' Time Zone']