In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.types as T
import pyspark.sql.functions as F

In [2]:
spark = SparkSession.builder.appName('GDP').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/09 10:39:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.csv('countries of the world.csv', inferSchema = True, header=True)

In [4]:
df.show(5)

+---------------+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
|        Country|              Region|Population|Area (sq. mi.)|Pop. Density (per sq. mi.)|Coastline (coast/area ratio)|Net migration|Infant mortality (per 1000 births)|GDP ($ per capita)|Literacy (%)|Phones (per 1000)|Arable (%)|Crops (%)|Other (%)|Climate|Birthrate|Deathrate|Agriculture|Industry|Service|
+---------------+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
|   Afghanistan |ASIA (EX. NEAR EA...|  31056997|        647500|                      48,0|                        0,00|        23,06|                            163,07|               700|        36,0|              3,2|     12,13|     0,22|    87,65|      1|     46,6|    20,34|       0,38|    0,24|   0,38|
|       Albania |EASTERN EUROPE   ...|   3581655|         28748|                     124,6|                        1,26|        -4,93|                             21,52|              4500|        86,5|             71,2|     21,09|     4,42|    74,49|      3|    15,11|     5,22|      0,232|   0,188|  0,579|
|       Algeria |NORTHERN AFRICA  ...|  32930091|       2381740|                      13,8|                        0,04|        -0,39|                                31|              6000|        70,0|             78,1|      3,22|     0,25|    96,53|      1|    17,14|     4,61|      0,101|     0,6|  0,298|
|American Samoa |OCEANIA          ...|     57794|           199|                     290,4|                       58,29|       -20,71|                              9,27|              8000|        97,0|            259,5|        10|       15|       75|      2|    22,46|     3,27|       null|    null|   null|
|       Andorra |WESTERN EUROPE   ...|     71201|           468|                     152,1|                        0,00|          6,6|                              4,05|             19000|       100,0|            497,2|      2,22|        0|    97,78|      3|     8,71|     6,25|       null|    null|   null|
+---------------+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
only showing top 5 rows

In [5]:
# Schema and basic details
df.printSchema()
df.describe().show()

root
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Population: integer (nullable = true)
 |-- Area (sq. mi.): integer (nullable = true)
 |-- Pop. Density (per sq. mi.): string (nullable = true)
 |-- Coastline (coast/area ratio): string (nullable = true)
 |-- Net migration: string (nullable = true)
 |-- Infant mortality (per 1000 births): string (nullable = true)
 |-- GDP ($ per capita): integer (nullable = true)
 |-- Literacy (%): string (nullable = true)
 |-- Phones (per 1000): string (nullable = true)
 |-- Arable (%): string (nullable = true)
 |-- Crops (%): string (nullable = true)
 |-- Other (%): string (nullable = true)
 |-- Climate: string (nullable = true)
 |-- Birthrate: string (nullable = true)
 |-- Deathrate: string (nullable = true)
 |-- Agriculture: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Service: string (nullable = true)

+-------+------------+--------------------+--------------------+------------------+--------------------------+----------------------------+--------------------+----------------------------------+------------------+------------+-----------------+------------------+------------------+------------------+------------------+------------------+---------+-----------+--------+-------+
|summary|     Country|              Region|          Population|    Area (sq. mi.)|Pop. Density (per sq. mi.)|Coastline (coast/area ratio)|       Net migration|Infant mortality (per 1000 births)|GDP ($ per capita)|Literacy (%)|Phones (per 1000)|        Arable (%)|         Crops (%)|         Other (%)|           Climate|         Birthrate|Deathrate|Agriculture|Industry|Service|
+-------+------------+--------------------+--------------------+------------------+--------------------------+----------------------------+--------------------+----------------------------------+------------------+------------+-----------------+------------------+------------------+------------------+------------------+------------------+---------+-----------+--------+-------+
|  count|         227|                 227|                 227|               227|                       227|                         227|                 224|                               224|               226|         209|              223|               225|               225|               225|               205|               224|      223|        212|     211|    212|
|   mean|        null|                null|2.8740284365638766E7| 598226.9559471365|                      null|                        null|0.031746031746031744|                              56.5| 9689.823008849558|        null|             null| 8.842105263157896|1.9090909090909092| 86.57894736842105|2.1597938144329896|              21.0|     22.0|        0.0|    null|   null|
| stddev|        null|                null|1.1789132654347657E8|1790282.2437336047|                      null|                        null|  0.2519763153394848|                 36.78314831549904|10049.138513197226|        null|             null|10.128415242358372| 5.954849055410831|14.633734958321792|0.7054429092420468|11.853269591129697|     null|       null|    null|   null|
|    min|Afghanistan |ASIA (EX. NEAR EA...|                7026|                 2|                       0,0|                        0,00|               -0,02|                             10,03|               500|       100,0|              0,2|                 0|                 0|               100|                 1|                10|    10,01|          0|    0,02|  0,062|
|    max|   Zimbabwe |WESTERN EUROPE   ...|          1313973713|          17075200|                      99,9|                       92,31|                9,61|                              98,8|             55100|        99,9|             97,7|              9,75|              9,87|             99,98|                 4|              9,95|     9,89|      0,769|   0,906|  0,954|
+-------+------------+--------------------+--------------------+------------------+--------------------------+----------------------------+--------------------+----------------------------------+------------------+------------+-----------------+------------------+------------------+------------------+------------------+------------------+---------+-----------+--------+-------+

In [6]:
df.na.drop(subset='Phones (per 1000)').count()
df.count()

227

In [7]:
df.select(['Country', 'Phones (per 1000)']).show(5)

+---------------+-----------------+
|        Country|Phones (per 1000)|
+---------------+-----------------+
|   Afghanistan |              3,2|
|       Albania |             71,2|
|       Algeria |             78,1|
|American Samoa |            259,5|
|       Andorra |            497,2|
+---------------+-----------------+
only showing top 5 rows

In [8]:
# Select the distinct Region
df.select(['Region']).distinct().show()

+--------------------+
|              Region|
+--------------------+
|BALTICS          ...|
|C.W. OF IND. STATES |
|ASIA (EX. NEAR EA...|
|WESTERN EUROPE   ...|
|NORTHERN AMERICA ...|
|NEAR EAST        ...|
|EASTERN EUROPE   ...|
|OCEANIA          ...|
|SUB-SAHARAN AFRIC...|
|NORTHERN AFRICA  ...|
|LATIN AMER. & CAR...|
+--------------------+

In [9]:
# Sum of Population by Region
df.groupBy('Region').count().show()

+--------------------+-----+
|              Region|count|
+--------------------+-----+
|BALTICS          ...|    3|
|C.W. OF IND. STATES |   12|
|ASIA (EX. NEAR EA...|   28|
|WESTERN EUROPE   ...|   28|
|NORTHERN AMERICA ...|    5|
|NEAR EAST        ...|   16|
|EASTERN EUROPE   ...|   12|
|OCEANIA          ...|   21|
|SUB-SAHARAN AFRIC...|   51|
|NORTHERN AFRICA  ...|    6|
|LATIN AMER. & CAR...|   45|
+--------------------+-----+

In [10]:
groupCols = ['Region']
gdpByRegion = df.groupBy(groupCols).agg(F.sum('Population').alias('Total population'), 
                                        F.avg('Population').alias('Average Population'), 
                                        F.avg('GDP ($ per capita)').alias('Avg Gdp per capita'))
df2 = gdpByRegion.orderBy(['Avg Gdp per capita', 'Total population'], ascending=[0, 1])
df2.show()

+--------------------+----------------+--------------------+------------------+
|              Region|Total population|  Average Population|Avg Gdp per capita|
+--------------------+----------------+--------------------+------------------+
|WESTERN EUROPE   ...|       396339998| 1.415499992857143E7|27046.428571428572|
|NORTHERN AMERICA ...|       331672307|        6.63344614E7|           26100.0|
|BALTICS          ...|         7184974|  2394991.3333333335|           11300.0|
|NEAR EAST        ...|       195068377|     1.21917735625E7|          10456.25|
|EASTERN EUROPE   ...|       119914717|   9992893.083333334| 9808.333333333334|
|LATIN AMER. & CAR...|       561824599| 1.248499108888889E7| 8682.222222222223|
|OCEANIA          ...|        33131662|  1577698.1904761905| 8247.619047619048|
|ASIA (EX. NEAR EA...|      3687982236|1.3171365128571428E8| 8053.571428571428|
|NORTHERN AFRICA  ...|       161407133|2.6901188833333332E7|            5460.0|
|C.W. OF IND. STATES |       280081548|         2.3340129E7|            4000.0|
|SUB-SAHARAN AFRIC...|       749437000|1.4694843137254901E7| 2323.529411764706|
+--------------------+----------------+--------------------+------------------+

In [19]:

# df3 = df2.withColumn("lit_value2", when(col("Salary") >=40000 & col("Salary") <= 50000,lit("100")).otherwise(lit("200")))
# df3.show(truncate=False)


avg_world_population = df.agg(F.mean('Population')).collect()[0][0]

df2.withColumn('If_col', F.when(F.col('Total Population') > avg_world_population, F.lit('More than World Average')).otherwise(F.lit('Less than world average'))).show()

+--------------------+----------------+--------------------+------------------+--------------------+
|              Region|Total population|  Average Population|Avg Gdp per capita|              If_col|
+--------------------+----------------+--------------------+------------------+--------------------+
|WESTERN EUROPE   ...|       396339998| 1.415499992857143E7|27046.428571428572|More than World A...|
|NORTHERN AMERICA ...|       331672307|        6.63344614E7|           26100.0|More than World A...|
|BALTICS          ...|         7184974|  2394991.3333333335|           11300.0|Less than world a...|
|NEAR EAST        ...|       195068377|     1.21917735625E7|          10456.25|More than World A...|
|EASTERN EUROPE   ...|       119914717|   9992893.083333334| 9808.333333333334|More than World A...|
|LATIN AMER. & CAR...|       561824599| 1.248499108888889E7| 8682.222222222223|More than World A...|
|OCEANIA          ...|        33131662|  1577698.1904761905| 8247.619047619048|More than World A...|
|ASIA (EX. NEAR EA...|      3687982236|1.3171365128571428E8| 8053.571428571428|More than World A...|
|NORTHERN AFRICA  ...|       161407133|2.6901188833333332E7|            5460.0|More than World A...|
|C.W. OF IND. STATES |       280081548|         2.3340129E7|            4000.0|More than World A...|
|SUB-SAHARAN AFRIC...|       749437000|1.4694843137254901E7| 2323.529411764706|More than World A...|
+--------------------+----------------+--------------------+------------------+--------------------+